<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.TEST"
        version     = "1.0.0" >

    <name>Hello World Tutorial App</name>

    <description>
        Our second Hello World Tutorial App for Mobile Apps with jQuery Tutorial
    </description>

    <author href="******" email="*****">
        ******
    </author>

    <icon src="icon.png" />

    <gap:splash src="splash.png" width="320" height="480" />

    <preference name="phonegap-version"           value="3.7.0" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <preference name="fullscreen"                 value="false" />

</widget>
